<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.eorozco.tapjoy"
        version="0.7.0">

  <name>TapJoyPPE</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/tapjoy.js" target="js/tapjoy.js"/>

  <js-module src="www/tapjoy.js" name="tapjoy">
    <clobbers target="tapjoy" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TapJoyPPE">
        <param name="android-package" value="com.eorozco.plugin.TapJoyPPE"/>
      </feature>
    </config-file>

    <source-file src="src/android/TapJoyPPE.java" target-dir="src/com/eorozco/plugin/"/>
  </platform>
</plugin>